<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/bundle.css">
        <script async defer src="/scripts/script.js" type="module"></script>
    </head>
    <body>
        <div class="left"></div>
        <main>
            <p class="updated">Last update: {{ lastUpdatedAt }}</p>
            <h1>{{ title }}</h1>
            <div class="content">
                {{ content | safe }}
            </div>
        </main>
        <div class="right">
            <aside></aside>
        </div>
    </body>
</html>